<div class="container">
    <p>GCB-creator es una interfaz gráfica interactiva que permite crear <b><i>Actividades</i></b> y <b><i>Exámenes</i></b> para el sistema de creación de MOOC's Google Course Builder.</p>
    <p>Ha sido desarrollado por el equipo de <b>Domofera</b>:</p>
    <div class="row team">
       <header class="row">
           <h3>Equipo de </h3> <img src="images/domofera.jpg" alt="Domofera">
       </header>
       
        <div class="row">
            <div class="col-sm-6">
                <div class="col-md-6 member">
                    <img src="images/alex_200x200.jpg" alt="" class="img-circle img-responsive img-con-bordes center-block">
                    <b>Alex Jover Morales</b>
                    <i>Desarrollador Front-end</i>
                    <p>Desarrollador y diseñador web. Amante de las últimas tecnologías y de las buenas prácticas de desarrollo. Puedes visitar sus proyectos en su web <a href="http://codigoalternativo.com/">Codigo Alternativo</a>.</p>
                    <div class="brand-icons center-block">
                        <a href="https://twitter.com/alexjoverm" class="fa fa-twitter" target="_blank"></a>
                        <a href="https://www.facebook.com/alex.jovermorales" class="fa fa-facebook" target="_blank"></a>
                        <a href="https://plus.google.com/u/0/106756912070996900741" class="fa fa-google-plus" target="_blank"></a>
                        <a href="https://github.com/alexjoverm" class="fa fa-github" target="_blank"></a>
                    </div>
                </div>
                
                <div class="col-md-6 member">
                    <img src="images/elena.jpg" alt="" class="img-circle img-responsive img-con-bordes center-block">
                    <b>Elena Torró</b>
                    <i>Desarrollador Back-end</i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore in, odit deleniti aliquid. Quidem nostrum eveniet minus, doloremque esse. Labore.</p>
                    <div class="brand-icons center-block">
                        <a href="#" class="fa fa-twitter" target="_blank"></a>
                        <a href="#" class="fa fa-facebook" target="_blank"></a>
                        <a href="#" class="fa fa-google-plus" target="_blank"></a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="col-md-6 member">
                    <img src="images/lau.jpg" alt="" class="img-circle img-responsive img-con-bordes center-block">
                    <b>Laura Bonmati</b>
                    <i>Gestora de proyecto y marketing</i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae possimus, esse sit corporis tempora ab necessitatibus dolore ipsa unde et!</p>
                    <div class="brand-icons center-block">
                        <a href="#" class="fa fa-twitter" target="_blank"></a>
                        <a href="#" class="fa fa-facebook" target="_blank"></a>
                        <a href="#" class="fa fa-google-plus" target="_blank"></a>
                    </div>
                </div>
                
                <div class="col-md-6 member">
                    <img src="images/canyi.jpg" alt="" class="img-circle img-responsive img-con-bordes center-block">
                    <b>J. Cañizares</b>
                    <i>Diseñador y Post-productor</i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis natus illo sed nihil molestias in expedita officia ab vitae, nesciunt.</p>
                    <div class="brand-icons center-block">
                        <a href="#" class="fa fa-twitter" target="_blank"></a>
                        <a href="#" class="fa fa-facebook" target="_blank"></a>
                        <a href="#" class="fa fa-google-plus" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
