<div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta itaque, fuga et autem quia, ratione odit consectetur eaque necessitatibus quaerat laudantium placeat repellat reprehenderit inventore officiis distinctio maxime accusantium aperiam.</p>
    <div class="row team">
       <header class="row">
           <h3>Equipo de </h3> <img src="images/domofera.jpg" alt="Domofera">
       </header>
       
        <div class="row">
            <div class="col-sm-6">
                <div class="col-md-6 member">
                    <img src="images/alex_200x200.jpg" alt="" class="img-circle img-responsive img-con-bordes center-block">
                    <b>Alex Jover Morales</b>
                    <i>Desarrollador</i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, temporibus ea illo ratione quam id quae ab ex praesentium tempora!</p>
                    <div class="brand-icons center-block">
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                    </div>
                </div>
                
                <div class="col-md-6 member">
                    <img src="images/alex_200x200.jpg" alt="" class="img-circle img-responsive img-con-bordes center-block">
                    <b>Laura Bonmati</b>
                    <i>Desarrollador</i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae possimus, esse sit corporis tempora ab necessitatibus dolore ipsa unde et!</p>
                    <div class="brand-icons center-block">
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="col-md-6 member">
                    <img src="images/alex_200x200.jpg" alt="" class="img-circle img-responsive img-con-bordes center-block">
                    <b>Elena Torró</b>
                    <i>Desarrollador</i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore in, odit deleniti aliquid. Quidem nostrum eveniet minus, doloremque esse. Labore.</p>
                    <div class="brand-icons center-block">
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                    </div>
                </div>
                
                <div class="col-md-6 member">
                    <img src="images/alex_200x200.jpg" alt="" class="img-circle img-responsive img-con-bordes center-block">
                    <b>J. Cañizares</b>
                    <i>Desarrollador</i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis natus illo sed nihil molestias in expedita officia ab vitae, nesciunt.</p>
                    <div class="brand-icons center-block">
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
