<div class="container" ng-controller="Main2Ctrl">
    <div class="panel panel-default">
        <nav id="gcbc-toolbar" class="btn-toolbar">
            <div class="col-sm-6">
                <div class="btn-group">
                    <button class="btn btn-default" data-toggle="tooltip" title="Borrar todo" ng-click="LimpiarScope()"><i class="glyphicon glyphicon-remove-circle"></i></button>
                    <button class="btn btn-default" data-toggle="tooltip" title="Descargar"><i class="glyphicon glyphicon-floppy-save"></i></button>
                    <button class="btn btn-default" data-toggle="tooltip" title="Ayuda"><i class="glyphicon glyphicon-info-sign"></i></button>
                </div>

                <div class="btn-group pull-right">
                    <button class="btn btn-default" data-toggle="tooltip" title="Nuevo free-text" ng-click="CrearFreetext()"><i class="glyphicon glyphicon-pencil"></i></button>
                    <button class="btn btn-default" data-toggle="tooltip" title="Nuevo mult-choice" ng-click="CrearMultiplechoice()"><i class="glyphicon glyphicon-minus"></i></button>
                    <button class="btn btn-default" data-toggle="tooltip" title="Nuevo mult-choice-list"><i class="glyphicon glyphicon-th-list"></i></button>
                </div>
            </div>

            <div class="col-sm-6">
                <div id="editor-buttons" class="btn-group">
                    <button class="btn btn-default disabled" data-edit="bold" title="" data-original-title="Negrita"><i class="fa fa-bold"></i></button>
                    <button class="btn btn-default disabled" data-edit="italic" title="" data-original-title="Cursiva"><i class="fa fa-italic"></i></button>

                    <button class="btn btn-default disabled" data-edit="link" title="" data-original-title="Link"><i class="fa fa-chain"></i></button>
                </div>
            </div>
        </nav>
    </div>



   
    <!--  CONTENIDO de las Preguntas -->

    <div id="questions-container" class="panel panel-default" ui-sortable ng-model="preguntas">
        <div class="question-wrapper" ng-repeat="pregunta in preguntas">

            <div class="questions-inside-left">
                <span class="glyphicon glyphicon-move"></span>
            </div>


            <div class="questions-inside-right">
                
                <a class="question-close" ng-click="Close($index)"><span class="fa fa-remove"></span></a>

                <h3>Pregunta {{$index + 1}} <i>({{pregunta.questionType}}<span ng-show="pregunta.questionType == undefined">Sólo HTML</span>)</i></h3>

                <div class="question-wrap" ng-show="pregunta.questionType == undefined">
                    <span class="form-control" contenteditable="true" ng-bind-html="pregunta.prevHTML"></span>
                </div>

                <div class="question-wrap" ng-show="pregunta.questionType != undefined">
                    <span class="span-label"><b>Pregunta: </b></span>
                    <span class="form-control" contenteditable="true" ng-bind-html="pregunta.questionHTML"></span>
                </div>

                <!-- FreeText question -->
                <div class="container-fluid" ng-show="pregunta.questionType == 'freetext'">
                    <div class="col-sm-4">
                        <input class="form-control" type="text" placeholder="Respuesta..." ng-model="pregunta.correctAnswerString">
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" placeholder="Salida mal..." ng-model="pregunta.correctAnswerOutput">
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" placeholder="Salida OK..." ng-model="pregunta.incorrectAnswerOutput">
                    </div>
                </div>


                <!-- Multiple choice question -->
                <div class="container-fluid multiple-choice-wrap" ng-show="pregunta.questionType == 'multiple choice'">
                    <span class="span-label"><b>Respuestas: </b></span>
                   <ol>
                       <li class="choice-animation" ng-repeat="choice in pregunta.choices">
                          <span class="num-list"></span>
                           <ul>
                               <li class="col-sm-4">
                                   <input class="form-control" type="text" placeholder="Texto..." ng-model="choice[0]">
                               </li>
                               <li class="col-sm-4">
                                   <input class="form-control" type="text" placeholder="Salida..." ng-model="choice[2]">
                               </li>
                               <li class="col-sm-4"><input type="checkbox" ng-model="choice[1]"> Correcta <span class="close-choice fa fa-remove" ng-click="CloseChoice($parent.$index, $index)"></span></li>
                           </ul>
                       </li>
                       <span class="add-question" ng-click="AddQuestion($index)"><span class="arrow fa fa-caret-square-o-up"></span><span class="fa fa-plus"></span></span>
                   </ol>

                </div>


                <!-- Group multiple choice question -->
                <div class="container-fluid multiple-choice-group-wrap" ng-show="pregunta.questionType == 'multiple choice group'">
                    <b>Codigo aún por hacer: </b>

                </div>

            </div>

        </div>
    </div>
</div>


